* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: myFirstFont, "Helvetica Neue", Helvetica, Arial;
}

@font-face {
    font-family: myFirstFont;
    src: url('../font/irancell.ttf');
}

body {
    overflow-x: hidden;
}

div {
    font-family: myFirstFont;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.main-header {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.main-header-background {
    margin-top: -30px;
    width: 100%;
    border-radius: 0 0 50px 50px;
    filter: drop-shadow(0 0 10px rgb(150, 150, 150));
}

.top-header {
    z-index: 2;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.header-item-holder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.header-ategory {
    color: #8A8A8A;
    background-color: #fff;
    padding: 10px;
    display: none;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo2 {
    display: none;
    align-items: center;
}

.logo-text-container {
    margin: 0 4px 0 0;
}

.logo-text-container {
    display: inline-block;
}

.logo-text-bottom {
    display: block;
    font-size: 10px;
}

.logo-text-top {
    font-size: 16px;
    display: block;
}

.header-logo img {
    width: 30%;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 0 10px #505050;
}

.header-search-category {
    color: #8A8A8A;
    margin: 2px 15px 2px 5px;
}

.header-search-input {
    margin-right: 15px;
    border-right: 3px solid #8A8A8A;
    outline: none;
    width: 80%;
    padding: 3px 8px;
    line-height: 3
}

.header-search-icon {
    margin-left: 10px;
}

.header-account {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-account a {
    color: #333B3D;
    text-decoration: none;
    margin: 5px;
}

/* end - top-header */

.header-bottom-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 60%;
    margin-right: 60px;
    margin-top: 15px;
}

.header-bottom-items span {
    color: #333B3D;
}

.header-bottom-items span:hover {
    color: #000000;
    cursor: pointer;
}

.header-options {
    width: 100%;
    margin-top: 40px;

}

.header-options-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 90%;
    margin: 15px auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(167, 167, 167, 0.678);
}

.header-option {
    height: 100px;
    width: 25%;
    justify-content: center;
    display: flex;
}

.first-option {
    transition: 200ms all;
}

.first-option:hover {
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    background-color: rgb(231, 231, 231);
}

.second-option {
    border-right: 2px solid #a7a7a794;
    transition: 200ms all;
}

.second-option:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.third-option {
    border-right: 2px solid #a7a7a794;
    transition: 200ms all;
}

.third-option:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.fourth-option {
    border-right: 2px solid #a7a7a794;
    transition: 200ms all;
}

.fourth-option:hover {
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    background-color: rgb(231, 231, 231);
}

.header-option img {
    width: 40px;
}

.header-option-text-top {
    display: block;
}

.header-option-text-bottom {
    color: #333B3D;
    display: block;
    font-size: 14px;
    line-height: 2;
}

.header-option-text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.main-holder {
    width: 80%;
    margin: 40px auto;
}

/* book-box - start */

.book-box {
    margin-top: 30px;
}

.book-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-box-title {
    display: flex;
    align-items: center;
}

.book-box-title-holder {
    display: inline-block;
    margin-right: 20px;
}

.book-box-title-top {
    display: block;
    font-size: 22px;
}

.book-box-title-bottom {
    display: block;
    color: #333B3D;
    font-size: 14px;
}


.book-slider-container {
    width: 100%;
    margin-top: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: right;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 226px;
    height: 100%;
    object-fit: cover;
}

.card-name-text {
    color: #333B3D;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
}

.book-card-slide {
    position: relative;
}

.book-card-slide-hover {
    background-color: #E48325;
    color: #fff;
    opacity: 0;
    position: absolute;
    transition: 400ms all;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.book-card-slide:hover .book-card-slide-hover {
    opacity: 1;
}

.book-card-slide-hover span {
    margin-top: 8px;
}

/* book-box - end */

.baner-container {
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
}

.baner-container img {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 30px;
    transition: all ease 0.5s;
}

.baner-container img:hover {
    cursor: pointer;
    /* width: 95%; */
    filter: drop-shadow(0 10px 5px rgba(150, 150, 150, 0.336));
}

/*  */

.book-creator-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
}

.book-creator-box {
    width: 48%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.562);
}

.book-creator-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 95%;
}

.book-creator-title-top {
    margin-right: 20px;
    color: #333B3D;
    font-size: 18px;
}

.book-creator-title {
    display: flex;
    align-items: center;
}

.book-creator-more span {
    color: #003399;
    font-size: 14px;
}

.book-creator-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    height: 80%;
}

.book-creator-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 15%;
    cursor: pointer;
}

.book-creator-item span {
    font-size: 11px;
    margin: 5px auto
}

.book-creator-item img {
    width: 100%;
    height: auto;

}

.button-container {
    display: none;
    width: 80%;
    padding: 8px 0;
    background-color: #E48325;
    text-align: center;
    vertical-align: middle;
    margin: 20px auto;
}

.button-container span {
    color: #fff;
    font-size: 16px;
}

/* footer - start */
footer {
    width: 100%;
    background-color: #E9E9E9;
    text-align: center;
}

.top-footer {
    width: 100%;

    overflow: hidden;
}

.top-footer img {
    transform: scale(1.1);
}

/* footer - top - start */
.footer-form-container {
    overflow: hidden;
    width: 100%;
    /* transform: translateY(-100px) */
}

.email-background {
    background-color: #ffffff;
    padding: 10px;
    display: inline-block;
    width: 50%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 8px 8px -10px rgb(192, 192, 192);
}

.footer-form-container img {
    width: 100%;
}

.footer-form-container .input-email {
    outline: none;
    width: 60%;
    line-height: 29px;
    padding: 5px;
    border-radius: 0 50px 50px 0;
    vertical-align: top;
    border: 5px solid #DDDDDD;
    text-align: center;
}

.footer__image {
    width: 100%;
}

.footer-form-container .submit-email {
    vertical-align: top;
    font-size: 18px;
    margin-right: -40px;
    color: #E48325;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #DDDDDD;
}

/* footer - top - end */

/* footer - middle - start */

.f-box {
    display: inline-block;
    vertical-align: top;
}

.middle-footer {
    width: 90%;
    display: inline-block;
}

.footer-about {
    width: 50%;
    text-align: right;
    margin: 10px 50px;
}

/* footer - middle - quick - access - start */


.footer-quick-access {
    text-align: right;
    width: 15%;
    margin-top: 40px;
}

.footer-quick-access span {
    font-size: 17px;
    font-weight: 900;
    color: #333B3D;
}

.footer-quick-access a {
    color: #475255;
    text-decoration: none;
    margin-right: 30px;
    font-size: 14px;
}

.footer-quick-access ul {
    list-style-type: none;
}

.footer-quick-access li {
    margin-top: 25px;
}

.quick-access2 {
    display: none;
}

/* footer - middle - quick - access - end */

/* footer - middle - end */

.footer-logo-main {
    display: inline-block;
    text-align: right;
    margin-top: 10px;
}

.footer-logo-text-container {
    display: inline-block;
    vertical-align: top;
}

.footer-logo-text-top {
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: 22px;
    color: #003399;
}

.footer-logo-text-bottom {
    display: block;
    font-size: 11px;
    color: #003399;
}

.footer-about p {
    color: #333B3D;
    font-size: 11px;
    line-height: 45px;
    text-align: justify;
}

.footer-about-more-link {
    color: #003399;
    font-size: 11px;
    text-align: left;
    width: 100%;
    display: block;
    margin-top: -30px;
}

.footer-communication {
    text-align: center;
    margin-top: 30px;
}

.footer-communication span {
    color: #333B3D;
    vertical-align: top;
}

.footer-communication-social {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.footer-communication-social a {
    margin: 0 10px;
}

.footer-communication-phone {
    vertical-align: top;
    display: inline-block;
    width: 49%;
}

.footer-communication-phone img {
    margin: 0 8px;
}

.footer-bottom {
    text-align: center;
}

.line {
    display: inline-block;
    margin-top: 40px;
    border-top: 2px solid #7C8082;
    width: 60%;
}

.fotter-bottom {
    width: 100%;
    margin-bottom: 5px;
    ;
}

.copyright-text {
    width: 49%;
    display: inline-block;
}

.fotter-bottom span {
    color: #707070;
    font-size: 11px;
    font-size: nav-box-close 11px;
}

/* footer - end */


/* responsive */


.menu-button {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.menu-button img {
    vertical-align: middle;
}

/* button navigation */
.button-navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: none;
}

body nav.tab {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 4rem;
}

body nav.tab.moving .icon {
    pointer-events: none;
}

body nav.tab[data-selected="1"] .icon:nth-child(1), body nav.tab[data-selected="2"] .icon:nth-child(2), body nav.tab[data-selected="3"] .icon:nth-child(3) {
    top: -1.3rem;
    color: #2ABA66;
    font-size: 2rem;
    transition: 0.25s 0.375s;
    pointer-events: none;
}

body nav.tab[data-selected="1"] .icon:nth-child(1).initialised, body nav.tab[data-selected="2"] .icon:nth-child(2).initialised, body nav.tab[data-selected="3"] .icon:nth-child(3).initialised {
    -webkit-animation: hide 0.9s forwards;
    animation: hide 0.9s forwards;
}

body nav.tab[data-selected="1"] .bar .middle .side:first-child, body nav.tab[data-selected="3"] .bar .middle .side:last-child {
    flex-grow: 0;
}

body nav.tab .icons {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 1rem;
}

body nav.tab .icons .icon {
    position: relative;
    top: 0rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition-delay: 0.1875s;
}

body nav.tab .icons .icon.initialised {
    -webkit-animation: hide2 0.375s;
    animation: hide2 0.375s;
}

body nav.tab .bar {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: stretch;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1)) drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100%;
}

body nav.tab .bar .cap {
    background: white;
    width: 1rem;
}

/* body nav.tab .bar .cap:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0.5rem;
    box-shadow: 0.25rem 0 0 white;
  }
  
  body nav.tab .bar .cap:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 0.5rem;
    box-shadow: -0.25rem 0 0 white;
  } */

body nav.tab .bar .middle {
    flex-grow: 1;
    position: relative;
    display: flex;
}

body nav.tab .bar .middle .circle {
    position: relative;
    top: -1.75rem;
    width: 7rem;
    height: 5.75rem;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Ccircle cx='56' cy='36' r='36' fill='%23FFF'/%3E%3Cpath d='M104 35.2L104 35.2c0 26.3-20.9 48.3-47.2 48.8C29.9 84.4 8 62.8 8 36v-0.8c0-4-3.2-7.2-7.2-7.2H0v64h112V28h-0.8C107.2 28 104 31.2 104 35.2z' fill='%23FFF'/%3E%3C/svg%3E"); */
    background-image: url("../image/site-img/icon-back-o.svg");
}

body nav.tab .bar .middle .side {
    flex-grow: 1;
    background: white;
    transition: 0.75s ease;
}

@-webkit-keyframes hide {
    0%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes hide {
    0%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@-webkit-keyframes hide2 {
    0%, 100% {
        opacity: 1;
    }

    15%, 75% {
        opacity: 0;
    }
}

@keyframes hide2 {
    0%, 100% {
        opacity: 1;
    }

    15%, 75% {
        opacity: 0;
    }
}

/* button navigation */

/* mobile footer */
.footer-mobile-number-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-mobile-number-container img {
    margin: 0 10px;
}

.m-social-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 20px auto 0 auto;
}

.mobile-email-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 10px auto;
    background-color: #8A8A8A;
    width: 90%;
    border-radius: 30px;
}

.mobile-email-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}

.mobile-email-text {
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 20px;
    font-size: 15px;
    line-height: 30px;
}

.mobile-email-container form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mobile-email-container .input-email {
    outline: none;
    margin-top: 20px;
    line-height: 60px;
    text-align: center;
    padding: 0 10px;
    width: 100%;
    background-color: #333B3D;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}

.mobile-email-container .input-submit {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    background-color: #E48325;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.mobile-option-container {
    width: 90%;
    margin: 0 auto;
}

.mobile-option-container ul {
    list-style-type: none;
    display: inline-block;
    width: 49%;
    text-align: right;
}

.mobile-option-container li {
    margin-top: 40px;
}

.mobile-option-container li a {
    color: #272e30;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.m-base-container {
    display: none;
}

/* mobile footer */

/* nav bar - start */

.navbar__rsponsive {
    overflow-y: auto;
    height: 100%;
    display: none;
    opacity: 0;
    max-width: 100%;
    width: 400px;
    background-color: rgb(247, 247, 247);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10 !important;
    transition: 300ms all;
}

.nav-box-close {
    text-align: left;
    padding: 20px 0 0 20px;
}

.nav-box-close img {
    width: 32px;
    height: auto;
}

.nav-holder {
    margin: 20px 5px 0 5px;
}

.nav-menu-item {
    margin: 40px 15px 0 0;
    align-items: center;
    display: flex;
}

.nav-menu-item img {
    margin-left: 30px;
    width: 28px;
    height: auto;
}


.nav-a-item {
    text-align: center;
}

.nav-menu-item span {
    font-size: 18px;
}

.nav-a-item img {
    padding: 10px;
    margin: 10px;
}



.nav-box-head {
    position: relative;
}

.nav-box-close-img {
    width: 24px;
    padding: 4px;
    height: auto;

}

.nav-box-head-background {
    width: 100%;
    height: 200px;
}

.nav-box-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-box-head-logo {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav-box-head-logo2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-box-head-text-container {
    margin: 0 4px 0 0;
}

.logo-text-container {
    display: inline-block;
}

.nav-box-logo-text-bottom {
    display: block;
    font-size: 10px;
    color: #fff;
    text-align: left;
}

.nav-box-logo-text-top {
    font-size: 16px;
    display: block;
    color: #fff;
    text-align: left;
}

.nav-box-head-logo img {
    width: 30%;
    margin: 0 5px;
}

.nav-box-head-line {
    display: inline-block;
    border-top: 7px solid #E48325;
    width: 100%;
    margin-bottom: -1px;
}


/* nav bar - end */


@media only screen and (max-width: 1540px) {
    .footer-about-more-link {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 1400px) {
    .book-creator-container {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 1365px) {

    .main-holder {
        width: 90%;
    }

    .header-options-container {
        width: 95%;
    }
}


@media only screen and (max-width: 1300px) {

    .book-creator-box {
        width: 70%;
        margin-top: 40px;
        padding-bottom: 20px;
    }

    .header-bottom-items {
        margin-right: 40px
    }

    .header-option {
        width: 50%;
    }

    .header-options-container {
        flex-wrap: wrap;
        width: 80%;
    }

    .third-option {
        border-right: 0px solid #a7a7a794;
    }

    .first-option:hover {
        cursor: pointer;
        border-radius: 0 30px 0 0;
        background-color: rgb(231, 231, 231);
    }

    .second-option:hover {
        cursor: pointer;
        border-radius: 30px 0 0 0;
        background-color: rgb(231, 231, 231);
    }

    .third-option:hover {
        cursor: pointer;
        border-radius: 0 0 30px 0;
        background-color: rgb(231, 231, 231);
    }

    .fourth-option:hover {
        cursor: pointer;
        border-radius: 0 0 0 30px;
        background-color: rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 1150px) {

    .middle-footer {
        width: 98%;
        display: inline-block;
    }

    .email-background {
        width: 90%;
    }

    .menu-button {
        display: inline;
    }

    .header-bottom-items {
        display: none;
    }

    .header-account {
        display: none
    }

    .main-header-background {
        margin-top: -110px;
        border-radius: 0;
        width: auto;
    }

    .book-creator-box {
        width: 90%;
    }

}

@media only screen and (max-width: 1010px) {
    .email-background {
        width: 100%;
    }

    .footer-communication-social {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-communication-phone {
        display: block;
        width: 100%;
    }

    .footer-quick-access {
        width: 20%;
    }

    .input-email {
        width: 70%;
    }

    .copyright-text {
        display: block;
        width: 98%;
    }
}

@media only screen and (max-width: 765px) {

    .footer-form-container .submit-email {
        margin-right: -30px;
        padding: 10px 30px;
    }

    .footer-about {
        width: 90%;
        margin: 0 auto;
    }

    .quick-access1 {
        display: none;
    }

    .quick-access2 {
        display: inline-block;
    }

    .footer-quick-access {
        width: 40%;
    }
}


@media only screen and (max-width: 700px) {

    .header-ategory {
        display: flex;
        border-radius: 10px;
        width: 80%;
        padding-left: 10px;
        outline: none;
    }


    .header-ategory option {
        margin-top: 20px;

    }

    .header-search {
        display: none;
    }

    .header-logo2 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .header-logo2 img {
        width: 110px;
    }

    .header-logo {
        display: none;
    }

    .header-item-holder {
        flex-wrap: wrap;
    }

    .logo-text-top {
        font-size: 16px;
    }

    .logo-text-bottom {
        font-size: 14px;
    }

    .main-header-background {
        margin-top: 0;
        height: 220px;
    }

    .header-options {
        display: none;
    }

    .book-creator-box {
        width: 98%;
    }

    .footer-form-container .input-email {
        width: 67%;
    }
}

@media only screen and (max-width: 600px) {

    .main-holder {
        width: 95%;
    }

    .baner-container img {
        width: 100%;
    }

    .baner-container img {
        width: 100%;
        border-radius: 20px;
    }

    .swiper-slide img {
        max-width: 150px;
    }

    .book-card-slide-hover span {
        font-size: 12px;
        padding-right: 10px;
    }

    .card-name-text {
        font-size: 12px;
    }

    .book-box-title-top {
        color: #E48325;
        font-size: 16px;
    }

    .book-box-title-bottom {
        display: none;
    }

    .book-box-more {
        display: none;
    }

    .book-box-title img {
        height: 30px;
    }

    .button-container {
        display: block;
    }
}

@media only screen and (max-width: 595px) {
    .footer-base-container {
        display: none;
    }

    .m-base-container {
        display: block;
    }

    .book-creator-item {

        width: 25%;
    }

    .button-navigation {
        display: block;
    }
}

@media only screen and (max-width: 400px) {

    .footer-quick-access {
        width: 90%;
        margin-right: 20px;
        display: block;
    }

    .quick-access1 {
        display: none;
    }

    .mobile-email-container .input-submit {
        width: 70%;
    }
}

/* responsive */