* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: myFirstFont, "Helvetica Neue", Helvetica, Arial;
}

@font-face {
    font-family: myFirstFont;
    src: url('../font/irancell.ttf');
}

div {
    font-family: myFirstFont;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}


.main-header {
    width: 100%;
    height: auto;
    position: relative;
}

.main-header-background {
    width: 100%;
    filter: drop-shadow(0 0 10px rgb(150, 150, 150));
}


.top-header {
    z-index: 2;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.header-item-holder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
    /* width: 20%; */
}

.logo-text-container {
    margin: 0 4px 0 0;
}

.logo-text-container {
    display: inline-block;
}

.logo-text-bottom {
    display: block;
    font-size: 10px;
}

.logo-text-top {
    font-size: 16px;
    display: block;
}


.header-logo img {
    width: 30%;
}

.header-search {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 0 10px #505050;
}

.header-search-category {
    color: #8A8A8A;
    margin: 2px 15px 2px 5px;
}

.header-search-input {
    margin-right: 15px;
    border-right: 3px solid #8A8A8A;
    outline: none;
    width: 80%;
    padding: 3px 8px;
    line-height: 3
}

.header-search-icon {
    margin-left: 10px;
}

.header-account {

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-account a {
    color: #333B3D;
    text-decoration: none;
    margin: 5px;
}

/* end - top-header */

.header-bottom-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 60%;
    margin-right: 60px;
    margin-top: 15px;
}

.header-bottom-items span {
    color: #333B3D;
}

.header-bottom-items span:hover {
    color: #000000;
    cursor: pointer;
}


.header-options {
    width: 100%;
    margin-top: 40px;

}

.header-options-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 90%;
    margin: 5px auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(167, 167, 167, 0.678);
}

.header-option {
    height: 100px;
    width: 25%;
    justify-content: center;
    display: flex;
}

.center-option:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.rigth-option:hover {
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    background-color: rgb(231, 231, 231);

}

.left-option:hover {
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    background-color: rgb(231, 231, 231);
}


.header-option img {
    width: 40px;
}

.header-option-text-top {
    display: block;
}

.header-option-text-bottom {
    color: #333B3D;
    display: block;
    font-size: 14px;
    line-height: 2;
}

.header-option-text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.option-right-line {
    padding-right: 20px;
    border-right: 2px solid #a7a7a794;
}


.main-holder {
    width: 80%;
    margin: 40px auto;
}

/* book-box - start */

.book-box {
    margin-top: 30px;
}

.book-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-box-title {
    display: flex;
    align-items: center;
}

.book-box-title-holder {
    display: inline-block;
    margin-right: 20px;

}

.book-box-title-top {
    display: block;
    font-size: 22px;
}

.book-box-title-bottom {
    display: block;
    color: #333B3D;
    font-size: 14px;
}


.book-slider-container {
    width: 100%;
    margin-top: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: right;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-width: 226px;
    height: 100%;
    object-fit: cover;
}

.card-name-text {
    color: #333B3D;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
}

.book-card-slide {
    position: relative;
}

.book-card-slide-hover {
    background-color: #E48325;
    color: #fff;
    opacity: 0;
    position: absolute;
    transition: 400ms all;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

}

.book-card-slide:hover .book-card-slide-hover {
    opacity: 1;
}

.book-card-slide-hover span {
    margin-top: 8px;
}

/* book-box - end */

.baner-container {
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
}

.baner-container img {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 30px;
    transition: all ease 0.5s;

}

.baner-container img:hover {
    cursor: pointer;
    width: 95%;
    filter: drop-shadow(0 10px 5px rgba(150, 150, 150, 0.336));
}


/*  */

.book-creator-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
}

.book-creator-box {
    width: 48%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.562);
}

.book-creator-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 95%;
}

.book-creator-title-top {
    margin-right: 20px;
    color: #333B3D;
    font-size: 18px;
}

.book-creator-title {
    display: flex;
    align-items: center;
}

.book-creator-more span {
    color: #003399;
    font-size: 14px;
}

.book-creator-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.book-creator-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 15%;
    cursor: pointer;
}

.book-creator-item span {
    font-size: 13px;
    margin: 5px auto
}