html {
    box-sizing: border-box;
}

html *,
html *::after,
html *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: tahoma, serif;
    line-height: 1.6;
    background: #d0d0d0;
    transition: transform .2s;
    /* transform: translate3d(15em, 0, 0); */
    /* overflow: hidden; */
}

body.show-menu {
    transform: translate3d(15em, 0, 0);
    overflow: hidden;
}

.inner-container {
    max-width: 75em;
    margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    display: table;
    content: ' ';
}

.clearfix::after {
    clear: both;
}

.header {
    background-color: #fff;
}

.logo {
    float: right;
    font-size: 1em;
    margin: 1.2em 2em 0 0;
}

.logo__img {
    display: block;
    width: 8em;
}

.main {
    width: 90%;
    max-width: 60em;
    margin: 5em auto 0;
    color: #555;
    padding: 1em;
}

.nav-toggle {
    font-size: 1.3em;
    float: left;
    padding: 1em;
    text-decoration: none;
    color: #333;
    transition: transform .2s;
}

@media (min-width: 48em) {
    .nav-toggle {
        display: none;
    }
}


.nav-toggle.is-active {
    transform: rotate(90deg);
}

.nav {
    position: fixed;
    top: 0;
    left: -15em;
    width: 15em;
    background: #1b1b1b;
    height: 100vh;
    overflow: auto;


}

@media (min-width: 48em) {
    .nav {
        width: auto;
        overflow: visible;
        height: auto;
        position: static;
        float: left;
        padding-left: 1em;
        background: none;
    }
}


.nav__menu {
    padding: 0;
    margin: 0;

}

.nav__item {
    list-style-type: none;
    position: relative;
}

@media (min-width: 48em) {
    .nav__item {
        float: left;

    }
}

.nav__link {
    display: block;
    padding: 1.2em 1em 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top: .3em solid transparent;
    white-space: nowrap;
}

@media (min-width: 48em) {
    .nav__link {
        color: #333;
    }
}


.has-sub:hover>.nav__link,
.nav__link:hover {
    border-top-color: cornflowerblue;
}


.nav__sub {
    padding: 0;
    margin: 0;
    display: none;
    margin-top: .5em;
}

.sub-icon {
    float: right;
}

@media (min-width: 48em) {
    .sub-icon {
        display: none;
    }
}

@media (min-width: 48em) {
    .nav__sub {
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        background-color: #fff;
        top: 100%;
        opacity: 0;
        transition: .2s opacity;
        pointer-events: none;
    }

    .has-sub:hover .nav__sub {
        opacity: 1;
        pointer-events: auto;
    }

}

.nav__sub-item {
    list-style-type: none;

}